@media screen and (max-width:1440px)
	body
		font-size 16px

/* Medium devices (large desktops, 1200px and up) */
@media screen and (max-width:1200px)
	body
		font-size 15px

/* Smal devices (desktops, 992px and up) */
@media screen and (max-width:992px)
	body
		font-size 14px

/* X - Small devices (tablets, 768px and up) */
@media screen and (max-width:768px)
	body
		font-size 12px